<div class="card">

    <div class="centered-text">
        <div>{{sent}}</div>
    </div>
    <div>
        <label>Citizens Name:</label> 
        <input [ngModel]="citizenName" (ngModelChange)="citizenName = $event"/>
    </div>
    <div>
        <label>Arresting Officer:</label>
        <input [ngModel]="arrestingOfficer" (ngModelChange)="arrestingOfficer = $event"/>
    </div>
    <div>
        <textarea placeholder="Reason for arrest..."
        [ngModel]="reasonArrest" (ngModelChange)="reasonArrest = $event"></textarea>
    </div>
    <div>
        <button class="btn btn-warning" (click)="sendJailReport()">Submit</button>
    </div>
</div>
