<div id="header-bar">
    <button class="btn btn-primary" [routerLink]="['/']">
        Citizen Information
    </button>

    <button class="btn btn-primary" [routerLink]="['/jail/jail-info']">
        Jail
    </button>

    <button class="btn btn-primary" [routerLink]="['/active-bolos']">
        Active BOLOs
    </button>

    <button class="btn btn-primary" [routerLink]="['/input-bolos']">
        Input BOLOs
    </button>

    <button class="btn btn-primary" [routerLink]="['/warrants']">
        Warrants
    </button>
</div>
