<div class="card">
    <table datatable class="row-border hover">
        <thead>
            <tr>
                <th>Crime</th>
                <th>Crime Jail Time</th>
            </tr>
        </thead>
        <tbody class="data-text">
            <tr>
                <td>Assault on a CIV</td>
                <td>5 months</td>
            </tr>
            <tr>
                <td>Assault on a LEO</td>
                <td>7 months</td>
            </tr>
            <tr>
                <td>Kidnapping of a CIV</td>
                <td>8 months</td>
            </tr>
            <tr>
                <td>Kidnapping of a LEO</td>
                <td>10 months</td>
            </tr>
            <tr>
                <td>Attempt murder of a CIV</td>
                <td>12 months</td>
            </tr>
            <tr>
                <td>Attempt murder of a LEO</td>
                <td>15 months</td>
            </tr>
            <tr>
                <td>Murder of a CIV</td>
                <td>18 months</td>
            </tr>
            <tr>
                <td>Involuntary Manslaughter </td>
                <td>15 months</td>
            </tr>
            <tr>
                <td>Brandishing a lethal weapon in city limits</td>
                <td>5 months</td>
            </tr>
            <tr>
                <td>Possession of an illegal weapon</td>
                <td>8 months</td>
            </tr>
            <tr>
                <td>GTA</td>
                <td>5 months</td>
            </tr>
            <tr>
                <td>Possession of an illegal substance </td>
                <td>1 min per bag</td>
            </tr>
            <tr>
                <td>Fabrication of an illegal substance </td>
                <td>5 months</td>
            </tr>
            <tr>
                <td>Robbery</td>
                <td>10 months</td>
            </tr>
            <tr>
                <td>Armed robbery of a store</td>
                <td>10 months</td>
            </tr>
            <tr>
                <td>Armed robbery of a bank</td>
                <td>10 months</td>
            </tr>
            <tr>
                <td>Money Laundering</td>
                <td>5 months</td>
            </tr>
            <tr>
                <td>Felony Speeding</td>
                <td>5 months</td>
            </tr>
            <tr>
                <td>Evading Police</td>
                <td>5 months</td>
            </tr>
        </tbody>
    </table>
</div>