<mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon class="togglerSideNav">menu</mat-icon>
    </button>
</mat-toolbar>
<mat-sidenav-container class="mat-sidenav-container">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" >
        <mat-selection-list class="side-nav-list">
            <mat-list-item *ngFor="let item of links" mat-ripple class="item">
                <a mat-list-item [routerLink]="item.path">
                    <div *ngIf="boloCount$ > 0 && item.label == 'BOLOs'; else noCount">
                        <span (click)=obtainCount() [matBadge]="boloCount$" class="content">{{item.label}}</span>
                    </div>
                    <ng-template #noCount>
                        <span (click)=obtainCount() class="content">{{item.label}}</span>
                    </ng-template>
                </a>
            </mat-list-item>
        </mat-selection-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>