/* .content-container{
    max-width: 1180px;
    margin: auto;
    background-size: 100% 100%;
    min-height: 600px;
    overflow: hidden;
} */

a{
    text-decoration:none;
    width:100%;
    padding: 0 16px;
    height: inherit;
}

mat-selection-list{
    background: #24292E;
    height:100%;
    overflow:hidden;
}

/* mat-sidenav-container {
    height:600px;
} */


.content{
    display:flex;
    align-items:center;
    color:#dad7dc;
}

.item:hover{
    background-color:#eaeded;
    width:100%;
    display:flex;
    align-items:center;
}

.mat-ripple{
    height:40px;
}

.mat-list-base {
    padding-top:0px !important;
}