<div>
    <table>
        <tr>
            <th>Code Name</th>
            <th>Code Number</th> 
            <th>Code Type</th> 
            <th>Code Jail Time</th> 
        </tr>
        <tr>
            <td>Assault</td>
            <td>(1) 1</td> 
            <td>Misdemeanor</td>
            <td>5 minutes</td>
        </tr>
        <tr>
            <td>Assault With A Deadly Weapon</td>
            <td>(1) 2</td> 
            <td>Misdemeanor</td>
            <td>5 minutes</td>
        </tr>
    </table>
</div>