.search-citizen-container{
    display:flex;
    padding:10px;
}

.citizen-info-container{
    display:flex;
    justify-content:space-around;
    margin: 0px 25px 0 25px;
}

.search-button{
    align-items: center;
    display: flex;
}
