<div>
  <div class="citizen-info-container">
    <div class="search-wrapper">
      <div class="search-citizen-container">
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Citizen's Name</mat-label>
            <input [ngModel]="citizensName" (ngModelChange)="citizensName = $event" matInput />
          </mat-form-field>
        </div>
        <div class="search-button">
          <span class="shift-right">
            <button mat-raised-button color="primary" (click)="getData()">
              Submit
            </button>
          </span>
        </div>
      </div>
    </div>
    <div>
      <mat-list *ngIf="citizenInfo$">
        <h3 mat-subheader>Citizen Information</h3>
        <mat-list-item>
          <mat-icon mat-list-icon>account_circle</mat-icon>
          <p mat-line>
            <mat-label>
              Name: {{citizenInfo$.firstname}} {{citizenInfo$.lastname}}
            </mat-label>
          </p>
          <p mat-line>
            <mat-label>
              Sex: {{citizenInfo$.sex}}
            </mat-label>
          </p>
          <p mat-line>
            <mat-label>
              Height: {{citizenInfo$.height}}
            </mat-label>
          </p>
          <p mat-line>
            <mat-label>
              DOB: {{citizenInfo$.dateofbirth}}
            </mat-label>
          </p>
          <p mat-line>
            <mat-label>
              Job: {{citizenInfo$.job}}
            </mat-label>
          </p>
          <p mat-line>
            <mat-label>
              Phone Number: {{citizenInfo$.phone_number}}
            </mat-label>
          </p>      
        </mat-list-item>
      </mat-list>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div>
    <mat-tab-group *ngIf=citizenInfo$>
      <mat-tab *ngFor="let arrest of citizenInfo$.jails; let i = index" [label]=i+1>
        <div>
          <label>Arresting officer: </label>{{arrest.arrestingOfficer}}
        </div>
        <div>
          <label>Sentenced: </label>{{arrest.sentence}}
        </div>
        <div>
          <label>Reason: </label>{{arrest.reason}}
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>