/* You can add global styles to this file, and also import other style files */
.font-color{
    color:white;
}


*{
    margin:0;
}


.list-items{
    height:150px;
    width:700px;
    overflow:auto;
}


html,body{ 
    margin:0;
    height:100%;
}


.dataTables_info, .dataTables_filter, .dataTables_length, .paginate_button,
.paging_simple_numbers, .previous, .disabled{
    color:white !important;
}
