/* You can add global styles to this file, and also import other style files */

*{
    box-sizing: border-box;
    margin:0;
}

#main-container {
    display:none;
}

.font-color{
    color:white;
}

.list-items{
    height:150px;
    width:700px;
    overflow:auto;
}

.dataTables_info, .dataTables_filter, .dataTables_length, .paginate_button,
.paging_simple_numbers, .previous, .disabled{
    color:white !important;
}

